.layout {
  min-height: 100vh;
  background: #0D0E10;
  display: flex;
  justify-content: center;
  padding: 3rem 32px;
}

.layout-container {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

